.NoteBox {
    background:
        linear-gradient(0deg, #1F79FF0D, #1F79FF0D),
        linear-gradient(0deg, #ffffff, #ffffff);
}

.WarningSummary {
    background:
        linear-gradient(0deg, #ff49490d, #ff49490d),
        linear-gradient(0deg, #ffffff, #ffffff);
}

.AdviceBox {
    background:
        linear-gradient(0deg, #1F79FF1A, #1F79FF1A),
        linear-gradient(0deg, #ffffff, #ffffff);
}


/* Bottom Sheet Styles */
@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out forwards;
}
