@import url('https://fastly.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css');
@import "tailwindcss";

html, body {
  background-color: #FCFCFC;
  font-family: 'Wanted Sans Variable', sans-serif;
}