.ocr-block {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.5s forwards;
  animation-delay: var(--delay);
}

@keyframes fadeUp {
  to {
    opacity: var(--target-opacity, 1);
    transform: translateY(0);
  }
}

.ocr-table {
  table {
    border-collapse: collapse;
    border: 1px solid #D1D5DB; // Tailwindì˜ gray-300
  }
  th,
  td {
    border: 1px solid #D1D5DB;
    padding: 0.5rem;
  }
}