@keyframes floatVertical {
  0%, 100% { transform: translateY(0); }
  50%      { transform: translateY(-15px); }
}

@keyframes shadowScale {

  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: translate(40px, 40px) scale(0.85);
    opacity: 0.8;
  }
}

.body {
  transform-origin: center;
  animation: floatVertical 4s ease-in-out infinite;
}

.scan {
  transform-origin: center;
  animation: floatVertical 4s ease-in-out infinite;
}

.shadow {
  animation: shadowScale 4s ease-in-out infinite;
}